.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-content {
  flex: 1;
  background-color: #d4f0f0;
}

.SearchBox {
  background-color: #a2e1db;
  padding: 16px;
}

.SearchBox-label {
  padding-right: 8px;
}

.SearchBox-input {
  padding: 4px;
}

.RepoList {
  padding: 16px;
}

.RepoList-Item {
  margin: 0;
  list-style: none;
}

.RepoList-Item + .RepoList-Item {
  margin-top: 12px;
}