.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #55cbcd;
  min-height: 10vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: black;
}

.App-content {
  flex: 1;
  background-color: #d4f0f0;
}

/* Extract */

.Message {
  margin: 16px;
}

.SearchBox {
  background-color: #a2e1db;
  padding: 16px;
}

.SearchBox-label {
  padding-right: 8px;
}

.SearchBox-input {
  padding: 4px;
}

.RepoList {
  padding: 16px;
}

.RepoList-Item {
  margin: 0;
}

.RepoList-Item + .RepoList-Item {
  margin-top: 12px;
}